.footer {
    padding: 40px 0 30px;
    background-color: $backgroundColorHero;


    &__container {
        display:grid;
        grid-template-areas: 
            "logo ."
            "copyright developers";
        color: $colorTitle;
        gap: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    &__logo {
        grid-area: "logo";
        width: 100%;
        max-width: 480px;
    }

    &__copyright {
        grid-area: copyright;
        align-self: end;

        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    &__developers {
        list-style: none;
        grid-area: developers;
        justify-self: end;

    }

    &__developer {
        margin-bottom: 7px;


        &:last-child{
            margin-bottom: 0;
        }
    }
}

@media (max-width: 660px){
    .footer {
        padding: 24px 0 20px;
    
        &__container {
            gap: 0;
            grid-template-areas: 
                "logo"
                "copyright"
                "developers";
        }
    
        &__logo {
            max-width: 230px;
            margin-bottom: 32px;
        }
    
        &__copyright {
            margin-bottom: 16px;
        }
    
        &__developers {
            justify-self: start;
    
        }
    
       
    }
}